# Dependencies
**/node_modules/
**/.pnpm-store/
dist/
build/
pnpm-lock.yaml

# IDE & OS
.DS_Store
.idea/
.vscode/

# Project Specific
videos/
*.log
.temp/
.cache/
.env
.env.*

# Temporary / Build artifacts
_dashboard/dist/
_dashboard/build/
